<address>
  {%- for profile in basics.profiles -%}
  {%- unless profile.type == "casual" %}
  <a href="{{ profile.url }}">
   {{- profile.network -}}
  </a>
  {%- endunless %}
  {%- endfor -%}

  {% if basics.url -%}
  <a href="{{ basics.url }}">
    {{- basics.url | remove: "https://" -}}
  </a>
  {%- endif -%}

  {%- if basics.email %}
  <a href="mailto:{{ basics.email }}">
    {{- basics.email -}}
  </a>
  {%- endif %}
</address>
